
<ion-content class="ion-padding">
  <div class="landing-content">
 
    <ion-card>
      <br>
      <ion-title>Document Tracking</ion-title>
      <br>

      <ion-grid>
        <ion-row>
          <ion-col>No. </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Task Name</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>Deadline </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>Tracking</ion-col>
        </ion-row>
      </ion-grid>
    <ion-grid>
        <ion-row>
          <ion-col>No.1 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Barangay CLearance Fixing</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 1,2023</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Status" value="Status">
                <ion-select-option value="To">10%</ion-select-option>
                <ion-select-option value="Al">20%</ion-select-option>
                <ion-select-option value="To2">30%</ion-select-option>
                <ion-select-option value="Al2">40%</ion-select-option>
                <ion-select-option value="To3">50%</ion-select-option>
                <ion-select-option value="Al3">60%</ion-select-option>
                <ion-select-option value="To4">70%</ion-select-option>
                <ion-select-option value="Al4">80%</ion-select-option>
                <ion-select-option value="To5">90%</ion-select-option>
                <ion-select-option value="Al5">100%</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row>
          <ion-col>No.2 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Enrolment Documents</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Status" value="Status">
                <ion-select-option value="To">10%</ion-select-option>
                <ion-select-option value="Al">20%</ion-select-option>
                <ion-select-option value="To2">30%</ion-select-option>
                <ion-select-option value="Al2">40%</ion-select-option>
                <ion-select-option value="To3">50%</ion-select-option>
                <ion-select-option value="Al3">60%</ion-select-option>
                <ion-select-option value="To4">70%</ion-select-option>
                <ion-select-option value="Al4">80%</ion-select-option>
                <ion-select-option value="To5">90%</ion-select-option>
                <ion-select-option value="Al5">100%</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>

        <ion-row>
          <ion-col>No.3 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Scholarship Program Fixing</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Status" value="Status">
                <ion-select-option value="To">10%</ion-select-option>
                <ion-select-option value="Al">20%</ion-select-option>
                <ion-select-option value="To2">30%</ion-select-option>
                <ion-select-option value="Al2">40%</ion-select-option>
                <ion-select-option value="To3">50%</ion-select-option>
                <ion-select-option value="Al3">60%</ion-select-option>
                <ion-select-option value="To4">70%</ion-select-option>
                <ion-select-option value="Al4">80%</ion-select-option>
                <ion-select-option value="To5">90%</ion-select-option>
                <ion-select-option value="Al5">100%</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>

        <ion-row>
          <ion-col>No.4 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Scholarship Program </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Status" value="Status">
                <ion-select-option value="To">10%</ion-select-option>
                <ion-select-option value="Al">20%</ion-select-option>
                <ion-select-option value="To2">30%</ion-select-option>
                <ion-select-option value="Al2">40%</ion-select-option>
                <ion-select-option value="To3">50%</ion-select-option>
                <ion-select-option value="Al3">60%</ion-select-option>
                <ion-select-option value="To4">70%</ion-select-option>
                <ion-select-option value="Al4">80%</ion-select-option>
                <ion-select-option value="To5">90%</ion-select-option>
                <ion-select-option value="Al5">100%</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br>
    <ion-card>
      
      <ion-button expand="block" color="success" routerLink="/search">
        Back
      </ion-button>
      
      <ion-button expand="block" color="success" routerLink="/login">
        Logout
      </ion-button>
      </ion-card>

    <br>
    <br>
    <br>

    
  </div>
</ion-content>

