<ion-content class="ion-padding">
  <div class="landing-content">
    <h1> Record Management Application: </h1>
      <h1>Municipality of Lemery </h1>
    


      <ion-item>
        <ion-input label="Username: " placeholder="Username "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password: " placeholder="Password "></ion-input>
      </ion-item>

    <br>
    <br>
    <br>
    <ion-button expand="block" color="success" routerLink="/admin">
      Login
    </ion-button>
    <ion-button expand="block" color="success" routerLink="/home">
      Back
    </ion-button>
    
  </div>
</ion-content>
