<ion-content class="ion-padding">
  <div class="landing-content">

    <ion-card>
      <ion-title>Search Documents</ion-title>
      <ion-grid>
        <ion-searchbar></ion-searchbar>
        <ion-row>
          <ion-col>No. </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Document Name</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          
          <ion-col> </ion-col>
          <ion-col>Date Uploaded </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>view Document</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
        </ion-row>
      </ion-grid>
    <ion-grid>
        <ion-row>
          <ion-col>No.1 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Barangay CLearance Fixing</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 1,2023</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-button expand="block" color="success" routerLink="/edit">
            View Document
          </ion-button>
        </ion-row>
    
        <ion-row>
          <ion-col>No.2 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Enrolment Documents</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-button expand="block" color="success" routerLink="/edit">
            View Document
          </ion-button>
        </ion-row>

        <ion-row>
          <ion-col>No.3 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Scholarship Program Fixing</ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-button expand="block" color="success" routerLink="/edit">
            View Document
          </ion-button>
        </ion-row>

        <ion-row>
          <ion-col>No.4 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <br>
          <ion-col>Scholarship Program </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col>August 4,2023 </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-col> </ion-col>
          <ion-button expand="block" color="success" routerLink="/edit">
            View Document
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br>
    <ion-button expand="block" color="success" routerLink="/tracking">
      Tracking
    </ion-button>
   
      
      <ion-button expand="block" color="success" routerLink="/dashboard">
        Back
      </ion-button>
 
  
    
  </div>
</ion-content>

