<ion-content class="ion-padding">
  <div class="landing-content">
    <h1> Record Management Application: </h1>
      <h1>Municipality of Lemery </h1>
    


    <ion-button expand="block" color="success" [routerLink]="['/login']">
      Login
    </ion-button>
    <ion-button expand="block" color="success" routerLink="/register">
      Register
    </ion-button>

    <br>
    <br>
    <br>
    <ion-button expand="block" color="success" routerLink="/adlogin">
      Admin
    </ion-button>
    
  </div>
</ion-content>
