<ion-content class="ion-padding">
  <div class="landing-content">
    <h1> System Configuration </h1>
      
    

    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>No. </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <br>
        <ion-col>Username</ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col>Email </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col>Password</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>No.1 </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <br>
        <ion-col>admin1</ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col>admin@gmail.com </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col>admin123</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <br>
    <br>
    <ion-button id="present-alert">Configure</ion-button>
<ion-alert
  trigger="present-alert"
  header="System Configure"
  subHeader="Success"
  message=""
></ion-alert>
    <br>
    <ion-button expand="block" color="success" routerLink="/admin">
      Back
    </ion-button>
    
  </div>
</ion-content>
